extends ./../layout

block content
    h1 Cars List
    a(href="/cars/new") New Car

    ul
        for car in cars
            li
                | #{car.model_year} #{car.make} #{car.model}
                a(href="/cars/#{car._id}") Show

                a(href="/cars/#{car._id}/edit") Edit

                a(href="/cars/#{car._id}/delete") Delete
